body{
    background-color: beige;
    color: darkslategray;
}

h1{
    text-align: center;
    color: darkolivegreen;
}

#uvod{
    padding: 20px;
}

.galerija{
    display: flex;
    flex-direction: column;
    padding: 20px;
}  












